@charset "utf-8";

html {
    background-color: aquamarine;
}

body {
    background-color: snow; 
    font-family: 'Comic Sans MS', cursive;
}

header {
    background-color: cadetblue;
}

h1 {
    color: white;
    font-size: 2.5em;
}

h2, h3 {
    font-size: 1.5em;
    background-color: yellow;
}

nav > ul {
    font-size: 1em;
    line-height: 2em;
    list-style-type: none;
    padding-left: 5px;
}

section {
    background-color: snow;
    font-size: 1em;
    width: 80% 
}

footer {
    color: white;
    background-color: cadetblue;
}